extends layout

block content
    h1 Login
    form(method='POST', action='/users/register')
        #form-group
            label Name:
            input.form-control(name='title', type='text')
        #form-group
            label Email:
            input.form_control(name='author', type = 'test')
        input.btn.btn-primary(type='submit', value= 'Submit')